[smtp.binrock.net]:587 scott@binrock.net:{{ lookup('file', 'credentials/postfix/binrock.net') }}
[smtp.gmail.com]:587 scott.sturdivant@gmail.com:{{ lookup('file', 'credentials/postfix/gmail.priv') }}
